@font-face {
    font-family: "Crumby";
    src: url('./Crumby.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Crumby';
    width: 100vw;
    height: 100vh;
    background-image: url('./cake1.jpg');
    background-position: top; 
    background-size: cover; 
    background-repeat: no-repeat;   
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
#content {
    
   display: flex;
   flex-direction: column;
   
   
}

.topBar { 
    margin-top: 0px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

     
    /* padding: 40px; */
    width: 100vw;
    height: 80px;
    background-color: rgba(13, 10, 10, 0.658);
    /* text-align: center; */
   
     
}

.title {
    font-size: 40px;
    margin-top: 0px;
    color: rgb(93, 89, 9); 
}


hr.main {
    border-top: 3px solid rgb(244, 210, 21);
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid white;
    border-bottom: none;
    background-color: transparent;
    padding: 3px 10px;
    margin: 0px 10px;
    color: white;
}

.buttons {
    
    margin-top: 25px;
    /* justify-self: center; */
    display: flex;
    
    

}
#pageTitle {
    text-align: center;
    font-family: 'Crumby';
    padding: 10px;
    background-color: rgba(254, 254, 254, 0.635); 
    border-radius: 10px;
}
#pageContent {
    display: flex;
    flex-direction: column;
   
    /* align-items: center; */
    justify-content: center;
    /* height: 70vh;*/
    /* width: 800px;  */
    
    margin-top: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.menuInfo {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(254, 254, 254, 0.635); 
    border-radius: 10px;
}